{% extends 'gestionCreneaux/base.html' %}
{% block body %}
{% csrf_token %}
{% include 'menu.html'%}

<style>
span { 
  white-space: nowrap;
}

.fc-daygrid-event-dot {
    display: none !important;
}

#calendar {
  padding : 3px;
}

a {
  color : black;
}

.ligne {
    display: flex;
    align-items: center;
    gap: 8px;
}

.pastille {
    padding: 4px 12px;
    border-radius: 999px; /* forme arrondie */
    color: #fff;
    font-size: 0.85rem;
    font-weight: 600;
    line-height: 1;
    cursor: pointer;
}

.pastille.oui {
    background-color: #28a745; /* vert */
}

.pastille.non {
    background-color: #dc3545; /* rouge */
}
</style>

<div id='calendar'></div>
<div class="modal fade" id="myModal" role="dialog" tabindex="-1"  aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 id="modal_titre" class="modal-title w-100 font-weight-bold"></h4>
      </div>
      <div id="modalBody" class="modal-body mx-3"></div>
      <div class="modal-footer d-flex justify-content-center"> {% if modifiables %}
  <button class="btn btn-success" id="bouton-creer" data-dismiss="modal"> Créer </button>
  <button class="btn btn-success" id="bouton-modifier" data-dismiss="modal"> Modifier </button>  {% endif %}
        <button class="btn btn-success" id="bouton-inscription" data-dismiss="modal"> </button>
        <button type="button" class="btn btn-danger" data-dismiss="modal"> Fermer </button>
      </div>
    </div>
  </div>
</div>


{% if modifiables %}
<div class="modal fade" id="myModalAd" role="dialog" tabindex="-1"  aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 id="modal_titreAd" class="modal-title w-100 font-weight-bold"></h4>
      </div>
      <div class="md-form mx-3">
            <span><i class="fas fa-lock prefix grey-text"></i>
            <label for="modal_date"> jour : </label>
            <input id="modal_date" type="date"></span>
            <span><i class="fas fa-lock prefix grey-text"></i>
            <label for="modal_debut"> début : </label>
            <input id="modal_debut" type="time"></span>
            <span><i class="fas fa-lock prefix grey-text"></i>
            <label for="modal_fin"> fin : </label>
            <input id="modal_fin" type="time"></span>
      </div>

      <div  class="modal-body mx-3">
        <select id="modal_typecreneau" name="typecreneau" onchange="ajuste_titre()">
    {% for val,dico in typecreneau.items %}      <option value="{{ val }}" data-titre="{{ dico.titre }}" data-desc="{{ dico.description }}" data-descins="{{ dico.descriptionins }}" data-inscription="{{ dico.inscription }}" data-ouvert="{{ dico.ouvert }}">{{ dico.nom }}</option> {% endfor %}
        </select>        
            <span><i class="fas fa-lock prefix grey-text"></i>
            <label for="modal_nb_terrains">  terrains : </label>
            <input id="modal_nb_terrains" type="number" style="width : 2.5em" value="4" min="1" max="4"></span>
      </div>
      <div  class="md-form mx-3">
          <label for="creneau_titre">  titre : </label>
          <input id="creneau_titre" type="text" size="10">
      </div>
      <div class="modal-body">
          <label for="creneau_description">  description : </label>
            <textarea id="creneau_description" class="form-control col-xs-12"></textarea>
      </div>
      <div class="md-form mx-3">
        <label><input type="checkbox" id="checkboxInscription" name="choix" value="avec_inscription" onchange="ajuste_css()"> avec inscription</label><br>
        <label><input type="checkbox" id="checkboxOuvert" name="choix" value="ouvert"> ouvert par défaut</label><br>
      </div>

      <div class="md-form mx-3">
        repéter <input type="number" id="nbrepetition" min="0" max="100" step="1" value="1"> fois <br>
        <select id="typerepetition" name="typerepetition">
          <option value="jour">tous les jours</option>
          <option value="semaine">toutes les semaines</option>
          <option value="mois">tous les mois</option>
        </select>    
      </div>

      <div class="modal-footer d-flex justify-content-center">
        <button class="btn btn-success" id="bouton-suppressionAd" data-dismiss="modal"></button>
        <button class="btn btn-success" id="bouton-creationAd" data-dismiss="modal"></button>
        <button type="button" class="btn btn-danger" data-dismiss="modal"> Fermer </button>
      </div>
    </div>
  </div>
</div>
      {% endif %}

{% if validation %}
<div class="modal fade" id="myModalvalidation" role="dialog" tabindex="-1"  aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 id="modal_titrevalidation" class="modal-title w-100 font-weight-bold">Créneaux à valider</h4>
      </div>
      <div id="modalBodyvalidation" class="modal-body mx-3"></div>
      <div class="modal-footer d-flex justify-content-center"> 
        <button type="button" class="btn btn-danger" data-dismiss="modal"> Fermer </button>
      </div>
    </div>
  </div>
</div>
{% endif %}

<script>
  "use strict";
  var calendar ;
{% if modifiables %}
  var select = document.getElementById('modal_typecreneau')
  var selectTitre = document.getElementById('creneau_titre')
  var selectDesc = document.getElementById('creneau_description')
  var checkboxInscription = document.getElementById('checkboxInscription');
  var checkboxOuvert = document.getElementById('checkboxOuvert');
  var modal_nb_terrains = document.getElementById('modal_nb_terrains')
{% endif %}

  function plusdeux(txt) {
      // ajout de 2h
      var x=parseInt(txt)+2
      if (x<10) {
        return "0"+x.toString()+":00"
      }
      if (x<24) {
        return x.toString()+":00"
      }
      return "23:59"
    }

    {% if connecte %}
  function clickbutton(id,cmd) { 
        api_call("/gestionCreneaux/click",{"id" : id,"cmd" : cmd},function (res) { calendar.refetchEvents();})
      } {% else %}
  function clickbutton(id,cmd) { 
        document.location.href="/base/connexion"; 
      } {% endif %}

    function formatDateYYYYMMDD(date) {
      const year = date.getFullYear();
      const month = String(date.getMonth() + 1).padStart(2,'0');
      const day = String(date.getDate()).padStart(2,'0');
      return `${year}-${month}-${day}`;
    }  

    function formatTimeHHMM(date) {
      const hour = String(date.getHours()).padStart(2,'0');
      const minute = String(date.getMinutes()).padStart(2,'0');
      return `${hour}:${minute}`;
    }  
      {% if modifiables%}
    function creationmodification(id=-1) { 
       var checked = document.querySelectorAll('input[name="choix"]:checked');
       var options = Array.from(checked).map(checkbox => checkbox.value);
        api_call("/gestionAdmin/creation_modification",{"date" : $('#modal_date').val(),"debut" : $('#modal_debut').val(),"fin" : $('#modal_fin').val(), "type" : $('#modal_typecreneau').val(),"options" : JSON.stringify(options), "nb_terrains" : $('#modal_nb_terrains').val(),"titre" : selectTitre.value, "description" : selectDesc.value,"id" : id, "typerepetition" : $('#typerepetition').val(), "nbrepetition" : $('#nbrepetition').val()},function (res) { calendar.refetchEvents();})
    }

    function supprimer(id) {
        api_call("/gestionAdmin/suppression",{"id" : id},function (res) { 
          calendar.refetchEvents();})
    }

    function ajuste_css() {
      var option = select.options[select.selectedIndex].dataset;
      if (checkboxInscription.checked) {
        selectDesc.value=option["descins"]
      } else {
        selectDesc.value=option["desc"]
      }
    }

    function ajuste_titre() {
      var option = select.options[select.selectedIndex].dataset;
      selectTitre.value=option["titre"]
      checkboxInscription.checked=(option["inscription"]=='True')
      checkboxOuvert.checked=(option["ouvert"]=='True')
      ajuste_css()
    }

    function creation() {
      $('#modal_titreAd').text("Création de créneaux");
      $('#bouton-creationAd').text("créer");
      $('#bouton-suppressionAd').hide()
      $('#bouton-creationAd').attr('onclick','creationmodification()')
      $('#myModalAd').modal();
      ajuste_titre();     
    }

  {% endif %}

  {% if validation %}

    function recuperevalidation() {
        api_call("/gestionCreneaux/recuperevalidation",{},function (res) {
          if (res.length != 0) { 
            var validationtexte="";
            for (const element of res) {
                validationtexte=validationtexte+
                '<p class="ligne">'+element.texte+'<span class="pastille oui" onclick="validecreneau('+element.id+',true)">oui</span><span class="pastille non" onclick="validecreneau('+element.id+',false)">non</span></p>'
            }
            $('#modalBodyvalidation').html(validationtexte);
            $('#myModalvalidation').modal();
          } 
        })
    }

    function validecreneau(id,val) {
      api_call("/gestionCreneaux/validecreneau",{"id":id,"val" : val},function (res) { 
        window.location.reload();
      });
    }

    recuperevalidation()

  {% endif %}

  document.addEventListener('DOMContentLoaded', function() {
    var calendarEl = document.getElementById('calendar');
    if (screen.width<600) {
      var myinitialView='{{ reglages.tel }}';
    } else {
      var myinitialView='{{ reglages.ordi }}';
    }
    calendar = new FullCalendar.Calendar(calendarEl, {
            schedulerLicenseKey: 'CC-Attribution-NonCommercial-NoDerivatives',
            headerToolbar: {
                left: 'prev,next',
                  center: 'title',
                right: 'timeGridDay,TimeGridThreeDay,timeGridWeek,dayGridMonth'
            },
            datesSet: function(info) {
              // Exemple : afficher "Mois : Novembre 2025"
              const newTitle = info.start.toLocaleDateString('fr-FR', {
                month: "short",
                year: "numeric"
              });
              if (info.view.type=="dayGridMonth") {
                info.view.calendar.setOption('titleFormat', () => newTitle);
              } else {
                info.view.calendar.setOption('titleFormat', () => '');
              }
            },
            dayHeaderContent: function(info) {
              if (info.view.type === 'timeGridDay') {
                return info.date.toLocaleDateString('fr-FR', {
                  weekday: 'long',
                  day: 'numeric',
                  month: 'short',
                });
              }
              // Pour les autres vues → texte standard
              return info.text;
            },
            views: {
              timeGridDay :{
                buttonText: '1 jour',
              },
              TimeGridThreeDay: {
                type: 'timeGridDay',
                duration: { days: 3 },
                buttonText: '3 jours',
              },
              timeGridWeek :{
                buttonText: '7 jours'
              },
              dayGridMonth :{
                buttonText: '1 mois',
                dayMaxEvents : 3,
              },
            },
            initialView : myinitialView,
            contentHeight: 'auto',
            stickyHeaderDates : true,
            locale : 'fr',
            firstDay : 1, // commence le lundi
            allDaySlot : false,
            slotMinTime : "08:00:00",
            eventTextColor : "white",
            eventClick: function(info) { 
              $('#modal_titre').html(info.event.extendedProps.nom);
              $('#modalBody').html(info.event.extendedProps.description+'<br>'+info.event.extendedProps.nb_terrains.toString()+' terrains disponibles'+info.event.extendedProps.lesinscrits);
              if (info.event.extendedProps.inscription) {
                $('#bouton-inscription').text(info.event.extendedProps.inscription);
                $('#bouton-inscription').attr('onclick','clickbutton('+info.event.id.toString()+','+info.event.extendedProps.cmd+')')
                $('#bouton-inscription').show();
              } else {
                $('#bouton-inscription').hide()
              } {% if modifiables %}
              if (info.event.extendedProps.creneaux_modifiable) {
                $('#modal_titreAd').text("Modification de créneaux");
                $('#bouton-creationAd').text("modifier");
                $('#bouton-creationAd').attr('onclick','creationmodification('+info.event.id.toString()+')')
                $('#bouton-suppressionAd').text("supprimer");
                $('#bouton-suppressionAd').attr('onclick','supprimer('+info.event.id.toString()+')')
                $('#bouton-suppressionAd').show()
                $('#modal_date').val(formatDateYYYYMMDD(info.event.start));
                $('#modal_debut').val(formatTimeHHMM(info.event.start));
                $('#modal_fin').val(formatTimeHHMM(info.event.end));
                selectTitre.value=info.event.extendedProps.nom;
                select.value=info.event.extendedProps.type;
                selectDesc.value=info.event.extendedProps.description;
                modal_nb_terrains.value=info.event.extendedProps.nb_terrains;
                checkboxOuvert.checked=info.event.extendedProps.ouvert;
                checkboxInscription.checked=info.event.extendedProps.avec_inscription;
                $('#bouton-creer').attr('onclick',"creation();")
                $('#bouton-creer').show()
                $('#bouton-modifier').attr('onclick',"$('#myModalAd').modal()")
                $('#bouton-modifier').show()
              } else  {
                $('#bouton-modifier').hide()
                $('#bouton-creer').hide()
              } {% endif %}
              $('#myModal').modal();
            },{% if modifiables %}
            dateClick: function(info) {
              $('#modal_date').val(info.dateStr.substring(0,10));
              $('#modal_debut').val(info.dateStr.substring(11,14)+"00");
              $('#modal_fin').val(plusdeux(info.dateStr.substring(11,13)));
              creation();
            }, {% endif %}
            events : '/gestionCreneaux/events',
    });


      //ajout de la gestion du swipe
      let touchStartX = 0;
      let touchEndX = 0;

      calendarEl.addEventListener('touchstart', e => {
        touchStartX = e.changedTouches[0].screenX;
      });

      calendarEl.addEventListener('touchend', e => {
        touchEndX = e.changedTouches[0].screenX;
        handleGesture();
      });

      function handleGesture() {
        const swipeThreshold = 50; // distance minimale en px
        const deltaX = touchEndX - touchStartX;

        if (Math.abs(deltaX) > swipeThreshold) {
          if (deltaX < 0) {
            // Swipe gauche → jour suivant
            calendar.next();
          } else {
            // Swipe droite → jour précédent
            calendar.prev();
          }
        }
      }

    calendar.render();
    //tmp pour la taille de l'écran
    ///document.getElementById("rightmenu").insertAdjacentHTML('beforebegin',"  "+screen.width + "x" + screen.height)
  });

</script>
{% endblock body %}

