<header>

<!--Début du bandereau contenant le menu-->
<nav id="navbar_top" class="navbar navbar-expand bg-light border-bottom">
  <div class="container-fluid">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
    <a class="nav-link" href="{% url 'jeulibre' %}">Jeu Libre</a>
      </li>
    </ul>
  <!--<div id="bonjour" class="center">{{ user.username }}  </div>-->
    <ul id="rightmenu" class="navbar-nav me-auto mb-2 mb-lg-0">
      {% if user.is_authenticated %}
  {% if admin %}
      <li class="nav-item"> 
        <a class="nav-link" href="{% url 'aide' %}">Aide</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'gestionAdmin:admin' %}">Admin</a>
      </li>
  {% else %}
      <li class="nav-item"> 
        <a class="nav-link" href="{% url 'aide' %}">Aide</a>
      </li>
  {% endif %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'reglages' %}">Réglages</a>
      </li>
      <li class="nav-item">     
        <a class="nav-link" href="{% url 'deconnexion' %}">Déconnexion</a> 
      </li> {% else %}
      <li class="nav-item"> 
        <a class="nav-link" href="{% url 'aide' %}">Aide</a>
      </li>
      <li class="nav-item"> 
        <a class="nav-link" href="{% url 'connexion' %}">Connexion</a>
      </li>
{% endif %}
    </ul>
  </div>
</nav>
</header>

<style>
.event-jeulibre {
  background-color : green;
}

.event-tournoi {
  background-color : orange;
}

.event-jeulibreinscription {
  background-color : blue;
}

.event-entrainement {
  background-color : plum;
}

.event-entrainement-a-valider {
  background-color : rgb(80, 14, 80);
}

.event-enattente {
  background-color : gray;
}
</style>

<script>
  function api_call(nom,donnees,retour) {
            var formData = new FormData();
            for (x in donnees) {
              formData.append(x,donnees[x])
            }
            csrf=document.getElementsByName('csrfmiddlewaretoken')[0]
            formData.append('csrfmiddlewaretoken',csrf.value)
            fetch(nom, {
              method : 'POST',
              headers : {
                'Accept': 'application/json, text/plain, */*',
                },
                body: formData
            }).then(function(res){ return res.json();})
              .then(function(res){
                retour(res)
               })
                .catch(function(err){ console.log('Erreur requête', err);});
        }
</script>