body{
  background-color : #6fb8b9;
  font-family: Avenir, sans-serif;
}

.green {
  background-color : green;
}

.blue {
  background-color : #2687c9;
}

.red {
  background-color : red;
}

.darkblue {
  background-color : #2020c9;
}

.orange {
  background-color : #FAB315;
}

.cwhite {
  color : white;
}

.cblack {
  color : black;
}

.cred {
  color : red;
}

.pointer {
  cursor : pointer;
}

.center {
  text-align : center;
}

/* style page de connexion */

.layout__box {
  width: 90%;
  max-width: 48rem;
  min-height: 40rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -46%);
  background-color : #6fb8b9;
  border-radius: 1rem;
  box-shadow: 1px 1px 6px 3px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.layout__boxHeader {
  display: flex;
  padding: 1.5rem;
  background-color: rgb(34, 34, 204);
  color: white;}

.layout__body {
  margin: 3rem;
}

.login-btn {
    background-color : green;
    border: none;
    display: inline-flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.5em;
    cursor: pointer;
    transition: all ease-in-out 0.3s;
    padding: 1rem 2rem;
    border-radius: 5px;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.15);
    font-weight: 500;  }

.creation-btn {
      background-color : blue;
      border: none;
      display: inline-flex;
      align-items: center;
      gap: 1rem;
      font-size: 1em;
      cursor: pointer;
      transition: all ease-in-out 0.3s;
      padding : 10px;
      border-radius: 5px;
      color: white;
      box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.15);
        }

.form__group {
  margin-bottom: 2rem;
  width: 100%;
}

.form__group label {
  display: block;
  font-size: 1.5em;
  margin-bottom: 1rem;
}

.form__group input {
  background: transparent;
  border: 1px solid #696d97;
  padding: 1rem;
  border-radius: 3px;
  width: 100%;
  color: #3f4156;
  font-weight: 500;
  outline: none;
  font-size: 1.5em;
}
